 <% if @feed.errors.any? %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

          <ul>
            <% @feed.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
					 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      				<span aria-hidden="true">&times;</span>
   				 </button>
        </div>
      <% end %>