@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: hsl(60, 3%, 13%)nt;
    }

// .navbar-brand {
//     font-size: 2rem;
//     }
    
            
// h1 {
// color: rgba(1, 24, 24, 0.925);
// }

.nav-link{
    color: goldenrod;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: lightskyblue;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container{
    margin-top: 25px;
    max-width: -1px;
}

.jumbotron{
    background-image: asset-url('xyz');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightskyblue;
}

#sticky-footer {
    flex-shrink: none;
}

body {
  background: lightskyblue;
  background: linear-gradient(to right, lightskyblue, lightskyblue);
}
